<!--<input [value]="filter" title="filter" (input)="filter = $event.target.value;" />-->
<div class="form-inline">
  <input [(ngModel)]="filter" title="filter" class="form-control"/>
  <button class="btn btn-primary" (click)="resetFilter()">
    clear
  </button>
</div>

<div [innerHTML]="'app.hi' | translate"></div>
<div translate>app.hi</div>
<div>{{ 'app.hi' | translate }}</div>


<table class="table">
  <thead>
    <th>Firm Name</th>
    <th>Firm Number</th>
    <th>Start date firm</th>
  </thead>
  <tbody>
  <tr *ngFor="let firm of firms | filterPipe:filter">
    <td>{{firm.firmName}}</td>
    <td>{{firm.firmNumber}}</td>
    <td>{{firm.startDateFirm | date:'yyyy-MM-dd'}}</td>
    <td><button class="btn" (click)="openDetail(firm.firmNumber)">Details</button></td>
  </tr>
  </tbody>
</table>


