<!--<input [value]="filter" title="filter" (input)="filter = $event.target.value;" />-->
<div class="form-inline">
  <input [(ngModel)]="filter" title="filter" class="form-control"/>
  <button class="btn btn-primary" (click)="resetFilter()">
    clear
  </button>
</div>

<div [innerHTML]="'app.hi' | translate"></div>
<div translate>app.hi</div>
<div>{{ 'app.hi' | translate }}</div>


<table class="table table-striped" [mfData]="firms" #mf="mfDataTable" [mfRowsOnPage]="3">
  <thead>
    <th><mfDefaultSorter by="firmName">Firm Name</mfDefaultSorter></th>
    <th>Firm Number</th>
    <th>Start date firm</th>
  </thead>
  <tbody>
  <tr *ngFor="let firm of mf.data | filterPipe:filter">
    <td>{{firm.firmName}}</td>
    <td>{{firm.firmNumber}}</td>
    <td>{{firm.startDateFirm | date:'yyyy-MM-dd'}}</td>
    <td><button class="btn" (click)="openDetail(firm.firmNumber)">Details</button></td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">
      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>


